VITE_GATEWAY_URL=example-gateway.company.com
VITE_TURN_URL=turn:turn.example.com:3478?transport=udp
VITE_TURN_USERNAME=turn-user
VITE_TURN_CREDENTIAL=turn-password
VITE_KEYCLOAK_URL=https://accounts.example.com/auth
VITE_KEYCLOAK_REALM=Example-Realm
VITE_KEYCLOAK_CLIENT=example-public-client
VITE_CONFIG_AUTORECORD=0
