VITE_GATEWAY_URL=k2-gateway.kasemsan.com
VITE_TURN_URL=turn:turn.ttrs.or.th:3478?transport=udp
VITE_TURN_USERNAME=turn01
VITE_TURN_CREDENTIAL=Test1234

VITE_KEYCLOAK_URL=https://accounts.example.com/auth
VITE_KEYCLOAK_REALM=Example-Realm
VITE_KEYCLOAK_CLIENT=example-public-client
VITE_CONFIG_AUTORECORD=0
